<div class="p-4 p-md-5 mb-4 bg-white rounded-3 shadow-sm">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to My Portfolio</h1>
    <p class="col-md-8 fs-5">Explore my projects, learn about me, and get in touch!</p>
    <a class="btn btn-primary btn-lg" href="/projects"><i class="fa-solid fa-folder-open"></i> View Projects</a>
  </div>
</div>